services:
  dns-service:
    #image: mbeijer/dns-traefik:latest
    build: .
    restart: always
    volumes:
      - ./appsettings.json:/app/appsettings.json
      - ./data:/data
    ports:
      - "53:5335/udp"
      - "80:80/tcp"
    dns:
      - 8.8.8.8
